body {

    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button {

    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0b0ff7;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;

}